body {
  margin: 0px 40px;
  padding:20px 10px;
  background-color: #F5DAEB;
  font: 1.1em Helvetica, Futura, "PT Sans", Helvetica, "Lucida Grande", Arial;
}

a {
  color: #04AC68;
  font-weight:bold;
  text-decoration: none
}

a:hover {
  color:#00693F;
}

#hearts {
  padding-top:20px;
  text-align:center;
}

#title {
  padding:70px 10px;
  background-color:#E30544;
  color: #F5DAEB;
  font-weight:bold;
  border-radius: 8px;
}

#title h1, #title h2{
  padding:0px 20px;
  margin:0px 20px;
  height:60px;
}

#title h1{
  font-size:3.5em;
}

#title h2{
  font-size:2em;
}

#version {
  padding-left: 40px;
  font: 0.8em "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style:italic;
  font-weight:normal;
}

#main-body {
  margin: 20px;
  color: #E30544;
}

#main-body h1{
  font-size:2.2em;
  margin-top: 0.9em;
  margin-bottom: 0.2em;
}

#main-body h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

#main-body p {
  color:#000000;
  line-height: 1.5;
  margin: 0;
}

#api-list p {
    margin: 1em;
    margin-left: 2em;
}


#message {
  background-color:#E30544;
  color: #F5DAEB;
  padding:35px;
  font-size: 2.7em;
  font-weight:bold;
  border-radius: 8px;
}

#signature {
  padding:0px 40px;
  font-size:2em;
  font-style:italic;
  font-weight: 100;
}

.bottom-right {
  float:right;
  position:absolute;
  bottom:10%;
  right:60px;
}

.mono {
  color:#E30544;
  display: inline; /* so the border doesn't become block */
  font-family: 'Courier New', Courier;
  border: 1px solid #E6B4D3;
  background-color: #FDF5FA;
  border-radius: 0.3em;
  font-weight: 100;
  padding: 0.1em 0.4em;
}

