<html>
  <head>
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
   <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>
  <div id="title">
    <h1>LOVE-AAS</h1>
    <h2>Love As A Service</h2>
    <p id="version"> v0.1</p>
  </div>
  <div id="hearts">
  <i class="fa fa-heart fa-5x"></i>
  <i class="fa fa-heart-o fa-5x"></i>
  </div>
  <div id="main-body">
    <h1>Introduction</h1>
    <p> LOVE-aas (Love As A Service) provides a modern, RESTful, scalable solution to the common problem of telling people that you love them. </p>
    <h1>API</h1>
    <h2>/love/:to/:from</h2>
    <p> Will return content in the form Hi :to, I love you. --:from</p>
    <h2>/miss/:to/:from</h2>
    <p> Will return content in the form Hi :to, I miss you, so much. --:from</p>
    <h2>/like/:to/:from</h2>
    <p> Will return content in the form Hi :to, I like you, like a lot. --:from</p>
  </div>
  </body>
</html>
