{% extends 'layout.html' %}

{% block content %}
<div id="title">
    <h1>LOVE-AAS</h1>
    <h2>Love As A Service</h2>
    <p id="version"> v{{ app_version }}</p>
</div>
<div id="hearts">
    <i class="fa fa-heart fa-5x"></i>
    <i class="fa fa-heart-o fa-5x"></i>
</div>
<div id="main-body">
    <h1>Introduction</h1>
    <p> LOVE-aas (Love As A Service) provides a modern, RESTful, scalable solution to the common problem spreading the love.
    <br>Check out the <a href="#examples">examples</a>!
    </p>
    <h1>How it works</h1>
    <p>
        Just type in your url bar any combination of the API keywords and then chose names
        <br>
        For example if <b>Julie</b> wants to send a crush message to <b>John</b>: just send him <a href=">/crush/John/Julie">http://loveaas.com/crush/John/Julie</a> !</p>
    <div id="api-list">
        <h1>API</h1>
        <p> All urls begin with <span class="mono"> http://loveaas.com</span>
        <br>Use any of the available endpoints below:</p>
        {% for message in message_list %}
            {% if message.to_user_exists %}
                <h2 class="mono">/{{ message.key }}/:to/:from</h2>
            {% else %}
                <h2 class="mono">/{{ message.key }}/:from</h2>
            {% endif %}
            <p> <em>{{ message.formatted_message }} -- :from</em></p>
        {% endfor %}
    </div>

    <h1 id="suggestion"> Submit a great idea? </h1>
    <p>Don't hesitate single second, <a href="mailto:nicholas@loveaas.com?subject=New Call Idea!">submit your idea of a loving message!</a></p>

    <h1 id="examples"> Examples</h1>
    <p>
    <a href="/love/santa/elf">Infinite arctic love</a><br>
    <a href="/crush/Jennifer/Nick">A hunger games phenomena</a><br>
    <a href="/thanksgiving/America/Europe">An intercontinental love message!</a><br>
    <a href="/request/Rose/Jack">A Final request before drowning</a></br>
    <a href="/miss/sexual%20life/Long%20Distance%20Relationship%20Victim">Missing sexual life</a></br>
    </p>

    <h1>About</h1>
    <p>
        Love As A Service was build out of love, as an answer to the <a href="http://foaas.com">Fuck Off As A Service Project</a>
        <br>
        Created by <a href="http://nicholas.charriere.com">Nicholas Charriere</a>
        <br>
        All contributions welcome, fork me on <a href="https://github.com/nichochar/love-aas">github</a>
    </p>
</div>
{% endblock %}
