{% extends 'layout.html' %}

{% block content %}
<div id="title">
    <h1>LOVE-AAS</h1>
    <h2>Love As A Service</h2>
    <p id="version"> v{{ app_version }}</p>
</div>
<div id="hearts">
    <i class="fa fa-heart fa-5x"></i>
    <i class="fa fa-heart-o fa-5x"></i>
</div>
<div id="main-body">
    <h1>Introduction</h1>
    <p> LOVE-aas (Love As A Service) provides a modern, RESTful, scalable solution to the common problem spreading the love.
    </p>
    <h1>Spread the Love Now</h1>
    <p>
    <a href="/create"><i class="fa fa-heart"></i> Click here to get started</a>
        <br>
        You can also click on create next to any of the <a href="#api">API endpoints</a> below.
        <br>
    <div>
        <h1 id="api">API</h1>
        <p> All urls begin with <span class="mono"> http://loveaas.com</span>
        <br>Click on any of the available endpoints below:</p>
        <div id="api-list">
            {% for message in message_list %}
                {% if message.to_user_exists %}
                <h2><a class="mono" href="/create/{{ message.key }}">/{{ message.key }}/Recipient/Sender</a></h2>
                {% else %}
                <h2><a  class="mono" href="/create/{{ message.key }}">/{{ message.key }}/Sender</a></h2>
                {% endif %}
                <p> <i class="fa fa-quote-left"></i>&nbsp;
                    {{ message.formatted_message }}  &nbsp; <em>-- Sender </em>&nbsp;
                    <i class="fa fa-quote-right"></i>
                </p>
            {% endfor %}
        </div>
    </div>

    <h1 id="suggestion"> Submit a great idea? </h1>
    <p>Don't hesitate a single second, <a href="https://github.com/nichochar/love-aas/issues/13">submit your idea of a loving message!</a></p>

    <h1 id="examples"> Examples</h1>
    <p>
    <a href="/love/santa/elf">Infinite arctic love</a><br>
    <a href="/crush/Jennifer/Nick">A hunger games phenomena</a><br>
    <a href="/thanksgiving/America/Europe">An intercontinental love message!</a><br>
    <a href="/request/Rose/Jack">A Final request before drowning</a></br>
    <a href="/miss/sexual%20life/Long%20Distance%20Relationship%20Victim">Missing sexual life</a></br>
    </p>

    <h1>About</h1>
    <p>
        Love As A Service was built out of love, as an answer to the <a href="http://foaas.com">Fuck Off As A Service Project</a>
        <br>
        Created by <a href="http://nicholas.charriere.com">Nicholas Charriere</a>
        <br>
        All contributions welcome, fork me on <a href="https://github.com/nichochar/love-aas">github</a>
    </p>
</div>
{% endblock %}
