{% extends 'layout.html' %}

{% block metatags %}
    <!-- twitter cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="nichochar" />
    <meta name="twitter:creator" content="nichochar" />
    <meta name="twitter:title" content="{{ signature }} just sent a message of love <3 !" />
    <meta name="twitter:description" content="Just like {{signature }}, you can also spread the Love( it's so easy!)! Come and visit http://loveaas.com" />
    <meta name="twitter:image" content="http://loveaas.com/images/logo.png" />

    <!-- Facebook Cards -->
    <meta property="og:url"                content="http://loveaas.com/{{ key }}/{% if recipient %}{{ recipient }}/{% endif %}{{ signature }}" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{{ signature }} just sent some love {% if recipient %}to {{ recipient }}{% endif %}!" />
    <meta property="og:description"        content="You can also spread the love so easily! Why refrain!? <3" />
    <meta property="og:image"              content="http://loveaas.com/images/facebook.png" />
{% endblock %}

{% block content %}
  <p id="message">{{ message }}</p>
  <br>
  <p id="signature">-- {{ signature }}</p>

  <div id="hearts">
      <i class="fa fa-heart fa-5x"></i>
      <i class="fa fa-heart-o fa-5x"></i>
  </div>
{% endblock %}
{% block footer %}
    <div class="bottom-right">
        <div id="heart-button">
            <h2 class="bb-year-end-ribbon bottom-right"> <a href="/">Spread the Love back!</a></h2>
        </div>
</div>
{% endblock %}
